.card{
    width: '312px';
    height: '454px';
    left: '58px';
    top: '0px';
    position: relative;
    background: '#ECE6F0';
    padding: '8px';
    border-radius: '18px';
    box-shadow: '0 4px 10px rgba(0, 0, 0, 0.1)';
  }